body{
  position: relative;
  font: 20px/1.5 'Open Sans', sans-serif;
  padding: 0;
  width: 100%;
}
ul{
  list-style: none;
}
a{
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
p{
  padding: 0;
  margin: 0;
}
.whiteText{
  color: white;
}
.font13{
  font-size: 13px;
}
.font15{
  font-size: 15px;
}
.font16{
  font-size: 16px;
}
.clearfix{
  clear:both;
}
.col-lg-6,.row{
}
/*=====================================================================================*/



@keyframes slide{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slideSec{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}




@keyframes uhup{
  from{
    height: 0px;
    opacity: 0;
  }
  to{
    height: 600px;
    opacity: 1;
  }
}

@keyframes uhupp{
  from{
    height: 0px;
    opacity: 0;
  }
  to{
    height: 600px;
    opacity: 1;
  }
}
/*==========================================header===========================================*/
body{
  background: url(../images/banner.jpg) repeat-y;
  background-size: contain;
}

header{
}

header>img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

nav{
  margin-top: 15px;
  position: relative;
}

.logo h1{
  font-weight: bold;
  color: white;
  display: inline-block;
}

.logo img{
  width: 100px;
  height: 100px;
  display: inline-block;
}

.logo{
  position: absolute;
  right: 0;
  background-color: rgba(45,109,219,0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

nav h1 span{
  color: crimson;
}

nav ul li{
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 100%;
  font-size: 13px;
  color: blue;
  display: table-cell!important;
  vertical-align: middle;
  text-align: center;
  position: relative;
  border-top: 40px solid crimson;
  border-bottom: 50px solid white;
  transition: All 0.5s;
  box-shadow: inset 0 0 5px 5px black, 0 0 5px 1px black;
  z-index: 5;
  opacity: 0.7;
  transform: scale(0.6);
}



nav ul li:hover, nav ul li.active{
  border-top: 20px solid crimson;
  border-bottom: 50px solid white;
  box-shadow: inset 0 0 5px 5px black, 0 0 5px 1px black;
  opacity: 1;
  transform: scale(1.0);
  animation: whiteLight 0.5s linear 1 forwards;
}

@keyframes whiteLight{
  from{
    box-shadow: inset 0 0 50px 30px blue, 0 0 30px 20px skyblue;
  }
  to{
    box-shadow: inset 0 0 5px 5px black, 0 0 5px 1px black;
  }
}

nav ul li:hover a::after{
  background-color: transparent!important;
}

nav ul li:hover a::before{
  top: 13px!important;
  background-color: transparent!important;
}

nav ul li.active a::after{
  background-color: transparent!important;
}

nav ul li.active a::before{
  top: 13px!important;
  background-color: transparent!important;
}

nav ul li.active a{
  color: white!important;
}

nav ul li:hover a{
  color: white!important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

header nav ul.nav li a {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    color: transparent;
    z-index: 2;
}

header nav ul.nav li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 31%;
  right: 0;
  z-index: 11;
  background: white;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  border: 5px solid black;
  z-index: -1;
}

header nav ul.nav li a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 31%;
  right: 0;
  z-index: 11;
  background: white;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  border: 5px solid black;
  z-index: -1;
  transition: All 0.1s;
}






a:focus{
  color: inherit;
}



.twitter{
  margin-top: -115px;
  padding: 150px 0;
  padding-bottom: 80px;
  background: rgba(102,51,153,0.7);
  color: white;
  -webkit-animation-duration: 6s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: slideInUp;
}

.twitter iframe{
  border: 1px solid rebeccapurple;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

#player{
  width: 100%;
}

#qa{
  padding: 70px;
  background: rgba(45,109,219,0.4);
}

#qa h1{
  font-weight: bold;
  color: white;
  background: rgba(0,0,0,0.3);
  padding: 8px;
}

#qa h1 span{
  font-size: 8px;
  font-weight: bold;
  color: white;
}
.panel-body ol li button{
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
}

.panel-body{
  font-size: 14px;
  font-family: cursive;
}

.panel-group{
  color: crimson;
}

h4 small{
  color: crimson!important;
}

.panel-title{
  color: crimson;
  font-weight: bold;
}

h4.panel-title a{
  z-index: 15;
  width: 100%;
  height: 100%;
  display: block;
}

.panel-heading{
  background: crimson;
}



h1{
  text-align: center;
}

#merch h1{
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  padding: 8px;
}

#merch{
  background: rgba(102,51,153,0.7);
  padding: 50px 0;
}

#merch .container .row .frameWrap{
  position: relative;
  overflow: hidden;
}


#about{
  background: rgba(45,109,219,0.4);
  padding: 50px 0;
}

#about h1{
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  padding: 8px;
}

#about p{
  color: white;
}


#contact{
  background: rgba(102,51,153,0.7);
  padding: 50px 0;
}

#contact h1{
    color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  padding: 8px;
}


/*#merch a{
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}*/











/*=================common classes===============*/
.leftZero{
  padding-left: 0!important;
  margin-left: 0!important;
}
.rightZero{
  padding-right:0!important;
  margin-right:0!important;
}
.bold{
  font-weight: bold;
}
.displayTable{
  display: table;
}
.displayCell{
  display: table-cell;
}
.topSpace12{
  margin-top: 60px;
}
.bottomSpace10{
  margin-bottom: 50px;
}
